*{
    font-family: 'Poppins';
}
.social a {
  padding: 0em;;
}

.page-header {
  margin-bottom:2rem;
}


.btn.btn-primary{
  color: white;
  background-color: #FF4F5A;
  border-color: #FF4F5A;
  border-radius: 20px;
}

.card {
    display: inline-block;
    zoom: 1;
    display*: inline; /* ie hack */
    text-align: center;
}

.prof{
  font-weight: bold;
}

.prof_pic{
  width: 70%;
  -webkit-animation: fadein 2s ease-in; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s ease-in; /* Firefox < 16 */
        -ms-animation: fadein 2s ease-in; /* Internet Explorer */
         -o-animation: fadein 2s ease-in; /* Opera < 12.1 */
            animation: fadein 2s ease-in;
}
.prof_details{
  -webkit-animation: fadein 2s ease-in; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s ease-in; /* Firefox < 16 */
        -ms-animation: fadein 2s ease-in; /* Internet Explorer */
         -o-animation: fadein 2s ease-in; /* Opera < 12.1 */
            animation: fadein 2s ease-in;
}
.card{
  border: none;
}

.entry-content{

margin-right: 2vw;
text-align: justify;
text-justify: inter-word;


}

.entry-content p{
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 4vh;
}

.container-sm{
    margin-left: 4vw;
    margin-right: 4vw;
    padding-top: 0.5vh;

}
i{
  ;
}
/*Animations*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 576px){
  .prof_pic{
  }
}
